@namespace Moka.Blazor.Json.Components

<div class="moka-json-tree-viewport" id="@ViewportId">
	<Virtualize Items="@Nodes" Context="node" OverscanCount="20">
		<MokaJsonNode @key="node.Id"
		              Node="@node"
		              IsSelected="@(node.Path == SelectedPath && !node.IsClosingBracket)"
		              ShowLineNumbers="ShowLineNumbers"
		              OnToggle="OnToggle"
		              OnSelect="OnSelect"
		              OnContextMenu="OnContextMenu"
		              OnDoubleClick="OnDoubleClick"/>
	</Virtualize>
</div>
